<launch>

    <arg name="model" default="$(find leo_description)/urdf/leo.urdf.xacro"/>
    
    <param name="robot_description" command="xacro --inorder $(arg model)" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <node name="web_video_server" pkg="web_video_server" type="web_video_server"/>

    <node name="rosbridge_server" pkg="rosbridge_server" type="rosbridge_websocket">
        <param name="unregister_timeout" value="86400"/>
    </node>

    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" respawn="true" launch-prefix="nice -n -20">
        <param name="port" value="/dev/serial0"/>
        <param name="baud" value="250000"/>
    </node>

    <node name="leo_system" pkg="leo_bringup" type="leo_system"/>

    <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node">

        <param name="width" value="640"/>
        <param name="height" value="480"/>
        <param name="quality" value="15"/>
        <param name="framerate" value="30"/>

        <param name="private_topics" value="false"/>

        <param name="camera_frame_id" value="camera_frame"/>
        <param name="enable_raw" value="true"/>
        <param name="enable_imv" value="false"/>
        <param name="camera_id" value="0"/>

        <param name="camera_name" value="leo_camera"/>
        <param name="camera_info_url" value="package://leo_bringup/camera_info/leo_camera.yaml"/>

        <remap from="image" to="camera/image_raw"/>
        <remap from="image/compressed" to="camera/image_raw/compressed"/>
        <remap from="camera_info" to="camera/camera_info"/>
    </node>

</launch>
