<launch>

    <node name="web_video_server" pkg="web_video_server" type="web_video_server"/>
    
    <node name="serial_bridge" pkg="leo_bringup" type="serial_bridge"/>

    <node name="rosbridge_server" pkg="rosbridge_server" type="rosbridge_websocket">
        <param name="unregister_timeout" value="86400"/>
    </node>

    <node name="leo_system" pkg="leo_bringup" type="leo_system"/>

    <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node">

        <param name="width" value="640"/>
        <param name="height" value="480"/>
        <param name="quality" value="15"/>
        <param name="framerate" value="30"/>

        <param name="private_topics" value="false"/>

        <param name="camera_frame_id" value="camera"/>
        <param name="enable_raw" value="false"/>
        <param name="enable_imv" value="false"/>
        <param name="camera_id" value="0"/>

        <param name="camera_name" value="camerav1_1280x720"/>
        <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav1_1280x720.yaml"/>


        <remap from="image/compressed" to="camera/image_raw/compressed"/>
        <remap from="camera_info" to="camera/camera_info"/>
    </node>

</launch>
